In [1]:
from __future__ import (absolute_import, division, print_function)
import os
import json

import matplotlib as mpl
import matplotlib.pyplot as plt

from shapely.geometry import Point, Polygon, MultiPolygon
import pandas as pd
import geopandas as gpd
from geopandas import GeoSeries, GeoDataFrame
from geoalchemy2 import Geometry, WKTElement
from sqlalchemy import *
from sqlalchemy import create_engine
import psycopg2
import psycopg2.extras

data_path = "./data"

In [2]:
%matplotlib inline

In [3]:
# PostGIS
import psycopg2
import psycopg2.extras

def pgconnect():
    # please replace <your_unikey> and <your_SID> with your own details
    YOUR_UNIKEY = '<your_unikey>'
    YOUR_PW     = '<your_SID>'
    DB_LOGIN    = 'y21s1d2x01_'+YOUR_UNIKEY

    try:
        db = create_engine('postgres+psycopg2://'+DB_LOGIN+':'+YOUR_PW+'@soitpw11d59.shared.sydney.edu.au/'+DB_LOGIN, echo=False)
        conn = db.connect()
        print('connected')
    except Exception as e:
        print("unable to connect to the database")
        print(e)
    return db,conn

credfilepath = os.path.join(data_path, "data2x01_db.json")

def pgconnect_using_credfile(credential_filepath):
    try:
        with open(credential_filepath) as f:
            db_conn_dict = json.load(f)
        connstring = 'postgres+psycopg2://'+db_conn_dict['user']+':'+db_conn_dict['password']+'@'+db_conn_dict['host']+'/'+db_conn_dict['database']
        db = create_engine(connstring, echo=False)
        conn = db.connect()
        print('connected')
    except Exception as e:
        print("unable to connect to the database")
        print(e)
        return None
    return db,conn

In [4]:


def pgexecute( conn, sqlcmd, args=None, msg='', silent=False ):
    """ utility function to execute some SQL query statement
       can take optional arguments to fill in (dictionary)
       will print out on screen the result set of the query
       error and transaction handling built-in """
    retval = False
    result_set = None

    try:
        if args is None:
            result_set = conn.execute(sqlcmd).fetchall()
        else:
            result_set = conn.execute(sqlcmd, args).fetchall()

        if silent == False: 
            print("success: " + msg)
            for record in result_set:
                print(record)
        retval = True
    except Exception as e:
        if silent == False:
            print("db read error: ")
            print(e)
    return retval

def pgquery( conn, sqlcmd, args=None, silent=False ):
    """ utility function to execute some SQL query statement
    can take optional arguments to fill in (dictionary)
    will print out on screen the result set of the query
    error and transaction handling built-in """
    retdf = pd.DataFrame()
    retval = False
    try:
        if args is None:
            retdf = pd.read_sql_query(sqlcmd,conn)
        else:
            retdf = pd.read_sql_query(sqlcmd,conn,params=args)
        if silent == False:
            print(retdf.shape)
            print(retdf.to_string())
        retval = True
    except Exception as e:
        if silent == False:
            print("db read error: ")
            print(e)
    return retval,retdf

In [5]:
db, conn = pgconnect_using_credfile(credfilepath)

connected

In [6]:
# Ensure PostGIS working on our connection
postgis_check = '''
SELECT PostGIS_Version();
'''

retval,retdf = pgquery(conn,postgis_check)
retdf

(1, 1)
                         postgis_version
0  3.0 USE_GEOS=1 USE_PROJ=1 USE_STATS=1

                         postgis_version
0  3.0 USE_GEOS=1 USE_PROJ=1 USE_STATS=1

In [8]:
# Create Schema
neighbourhoods_schema = """CREATE TABLE neighbourhoods (
                         area_id NUMERIC PRIMARY KEY,
                         area_name VARCHAR(150),
                         land_area NUMERIC,
                         population NUMERIC,
                         number_of_dwellings NUMERIC,
                         number_of_businesses NUMERIC,
                         median_annual_household_income NUMERIC,
                         avg_monthly_rent NUMERIC)"""

conn.execute("DROP TABLE IF EXISTS neighbourhoods")
conn.execute(neighbourhoods_schema)

stat_area_schema = """CREATE TABLE stat_area (
                        area_id NUMERIC PRIMARY KEY,
                        area_name VARCHAR(120),
                        parent_area_id NUMERIC)"""

conn.execute("DROP TABLE IF EXISTS stat_area")
conn.execute(stat_area_schema)


buss_stat_schema = """CREATE TABLE buss_stat (
                        area_id NUMERIC PRIMARY KEY,
                        area_name VARCHAR(150),
                        number_of_businesses NUMERIC,
                        accommodation_and_food_services NUMERIC,
                        retail_trade NUMERIC,
                        argiculture_forestry_and_fishing NUMERIC,
                        health_care_and_social_assisstance NUMERIC,
                        public_administration_and_safety NUMERIC,
                        transport_postal_and_warehousing NUMERIC)"""

conn.execute("DROP TABLE IF EXISTS buss_stat")
conn.execute(buss_stat_schema)


boundaries_schema = """CREATE TABLE boundaries (
                       SA2_MAIN16 NUMERIC,
                       SA2_5DIG16 NUMERIC,
                       SA2_NAME16 VARCHAR(150),
                       SA2_CODE16 NUMERIC,
                       SA3_NAME16 VARCHAR(150),
                       SA4_CODE16 NUMERIC,
                       SA4_NAME16 VARCHAR(150),
                       GCC_CODE16 NUMERIC,
                       GCC_NAME16 VARCHAR(150),
                       STE_CODE15 NUMERIC,
                       STE_NAME16 VARCHAR(150),
                       AREASQKM16 NUMERIC,
                       geometry GEOMETRY(MULTIPOLYGON, 4236))"""


RFSNSW_BFPL_schema = """CREATE TABLE RFSNSW (
                         gid NUMERIC PRIMARY KEY,
                         category VARCHAR(150),
                         shape_leng NUMERIC,
                         shape_area NUMERIC,
                         geom GEOMETRY(POINT, 4283))"""

conn.execute("DROP TABLE IF EXISTS RFSNSW")
conn.execute(RFSNSW_BFPL_schema)


water_schema = """CREATE TABLE water (
                        Date DATE,
                        Total_Water NUMERIC,
                        Storage NUMERIC,
                        Percentage_Full NUMERIC)"""

conn.execute("DROP TABLE IF EXISTS water")
conn.execute(water_schema)

In [14]:
# Use GeoAlchemy's WKTElement to create a geom with SRID
# NOTE :: THIS ONLY CHANGES POLYGON's to MULTI POLYGONS, IF YOU HAVE OTHER TYPES IN YOUR DATA, 
#     YOU WILL HAVE TO CONSULT THE GEOALCHEMY AND SHAPELY DOCUMENTATION ON HOW TO HANDLE THOSE
def create_wkt_element(geom,srid):
    if (geom.geom_type == 'Polygon'):
        geom = MultiPolygon([geom]) # Changes polygon type to multipolygon type
    return WKTElement(geom.wkt, srid)

In [15]:
neighbourhoods_data = pd.read_csv("Neighbourhoods.csv") # ABS

table_name = "neighbourhoods"
neighbourhoods_data.to_sql(table_name, con=conn, if_exists='replace',index=False)

In [16]:
stat_area_data = pd.read_csv("StatisticalAreas.csv") # ABS

table_name = "stat_area"
stat_area_data.to_sql(table_name, con=conn, if_exists='replace',index=False)

In [17]:
buss_stat_data = pd.read_csv("BusinessStats.csv") # ABS

table_name = "buss_stat"
buss_stat_data.to_sql(table_name, con=conn, if_exists='replace',index=False)

In [18]:
boundaries = gpd.read_file( os.path.join(data_path, "SA2_2016_AUST.shp") ) # GDA94

,SA2_MAIN16,SA2_5DIG16,SA2_NAME16,SA3_CODE16,SA3_NAME16,SA4_CODE16,SA4_NAME16,GCC_CODE16,GCC_NAME16,STE_CODE16,STE_NAME16,AREASQKM16,geometry
0,101021007,11007,Braidwood,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,3418.3525,"POLYGON ((149.58423 -35.44427, 149.58444 -35.4..."

In [19]:
# Remove rows with None
boundaries_clean = boundaries.dropna()

In [20]:
# since we are altering data again, we should create another copy
boundariesWkCpy = boundaries_clean.copy()

# Convert polygon type to multipolygon type
boundariesWkCpy['geom'] = boundaries_clean['geometry'].apply(lambda x: create_wkt_element(geom=x,srid=4326)) # Lambda function, calling create_wkt_element function

# Delete the old column before insert
boundariesWkCpy = boundariesWkCpy.drop(columns="geometry")
boundariesWkCpy

boundaries_table_name = "boundaries"
boundariesWkCpy.to_sql(boundaries_table_name, conn, if_exists = 'append', index = False, dtype = {'geom': Geometry('MULTIPOLYGON', 4326)})

In [21]:
RFSNSW = gpd.read_file(os.path.join(data_path, "RFSNSW_BFPL.shp")) # NSW Rural Fire Services

srid = 4283

# since we are altering data again, we should create another copy
RFSNSWWkCpy = RFSNSW.copy()

# Convert polygon type to multipolygon type
RFSNSWWkCpy['geom'] = RFSNSW['geometry'].apply(lambda x: create_wkt_element(geom=x,srid=4283)) # Lambda function, calling create_wkt_element function

# Delete the old column before insert
RFSNSWWkCpy = RFSNSWWkCpy.drop(columns="geometry")
RFSNSWWkCpy

RFSNSW_table_name = "RFSNSW"
RFSNSWWkCpy.to_sql(RFSNSW_table_name, conn, if_exists = 'append', index = False, dtype = {'geom': Geometry('POINT', 4283)})

DataError: (psycopg2.errors.InvalidParameterValue) Geometry SRID (4283) does not match column SRID (4326)

[SQL: INSERT INTO "RFSNSW" ("CATEGORY", "SHAPE_LENG", "SHAPE_AREA", geom) VALUES (%(CATEGORY)s, %(SHAPE_LENG)s, %(SHAPE_AREA)s, ST_GeomFromEWKT(%(geom)s))]
[parameters: ({'CATEGORY': 1, 'SHAPE_LENG': 1.70875009233e-05, 'SHAPE_AREA': 5.39240006947e-12, 'geom': 'SRID=4283;POINT (149.1131894786667 -33.05824346699998)'}, {'CATEGORY': 1, 'SHAPE_LENG': 0.000177823264149, 'SHAPE_AREA': 1.14000528947e-09, 'geom': 'SRID=4283;POINT (152.2753625074807 -29.68315654934266)'}, {'CATEGORY': 1, 'SHAPE_LENG': 0.000890016000199, 'SHAPE_AREA': 4.95017750373e-08, 'geom': 'SRID=4283;POINT (152.1424400005001 -29.68265650149996)'}, {'CATEGORY': 1, 'SHAPE_LENG': 0.000442258989982, 'SHAPE_AREA': 8.09409141183e-09, 'geom': 'SRID=4283;POINT (152.2757861369404 -29.68259377308781)'}, {'CATEGORY': 1, 'SHAPE_LENG': 0.000890013999992, 'SHAPE_AREA': 4.95015500091e-08, 'geom': 'SRID=4283;POINT (151.996189999 -29.68130649949998)'}, {'CATEGORY': 1, 'SHAPE_LENG': 0.000890015999971, 'SHAPE_AREA': 4.95017750117e-08, 'geom': 'SRID=4283;POINT (151.8247400005 -29.67635650049996)'}, {'CATEGORY': 1, 'SHAPE_LENG': 0.00629998599993, 'SHAPE_AREA': 1.11374949489e-06, 'geom': 'SRID=4283;POINT (151.9553949976965 -29.67427059347837)'}, {'CATEGORY': 1, 'SHAPE_LENG': 0.0103099599999, 'SHAPE_AREA': 2.17800367014e-06, 'geom': 'SRID=4283;POINT (151.7301135529291 -29.67521940944746)'}  ... displaying 10 of 516633 total bound parameter sets ...  {'CATEGORY': 2, 'SHAPE_LENG': 0.0126028834304, 'SHAPE_AREA': 3.187410561e-06, 'geom': 'SRID=4283;POINT (153.3873306047393 -28.49905856900221)'}, {'CATEGORY': 2, 'SHAPE_LENG': 0.000554932450826, 'SHAPE_AREA': 8.77953897641e-09, 'geom': 'SRID=4283;POINT (153.499974608478 -28.53430273929545)'})]
(Background on this error at: http://sqlalche.me/e/9h9h)

In [9]:
# Additional Data Set
water_data = pd.read_csv("HistoricalStorageInfo_metro.csv") 

table_name = "water"
water_data.to_sql(table_name, con=conn, if_exists='replace',index=False)

In [ ]:
# 1. Whether we need to clean the SA2 shp file (Error message: 'NoneType' object has no attribute 'geom_type'
# 2. How to add multiple tables into the same schema (should varaible name be tablename_schema)
# 3. Is there an SRID for NSW Rural Fire Services
# 4. Part 5: What does it mean to extend and refine the scoring function and source data (does this mean find another dataset)

In [10]:
query = """SELECT * FROM water"""
retval, retdf = pgquery(conn, query)
retdf

(2342, 4)
            Date Total_Water    Storage  Percentage_Fulll
0     31/12/1991   2,188,900  2,390,400              91.6
1      5/01/1992   2,190,350  2,390,400              91.6
2     10/01/1992   2,191,800  2,390,400              91.7
3     15/01/1992   2,196,000  2,390,400              91.9
4     20/01/1992   2,200,200  2,390,400              92.0
5     25/01/1992   2,201,250  2,390,400              92.1
6     31/01/1992   2,202,300  2,390,400              92.1
7      5/02/1992   2,275,200  2,390,400              95.2
8     10/02/1992   2,348,100  2,390,400              98.2
9     15/02/1992   2,364,750  2,390,400              98.9
10    20/02/1992   2,344,000  2,390,400              98.1
11    25/02/1992   2,307,550  2,390,400              96.5
12    29/02/1992   2,271,100  2,390,400              95.0
13     5/03/1992   2,274,250  2,390,400              95.1
14    10/03/1992   2,277,400  2,390,400              95.3
15    15/03/1992   2,268,200  2,390,400              94.9
16    20/03/1992   2,259,000  2,390,400              94.5
17    25/03/1992   2,259,450  2,390,400              94.5
18    31/03/1992   2,259,900  2,390,400              94.5
19     5/04/1992   2,257,750  2,390,400              94.5
20    10/04/1992   2,255,600  2,390,400              94.4
21    15/04/1992   2,249,900  2,390,400              94.1
22    20/04/1992   2,244,200  2,390,400              93.9
23    25/04/1992   2,244,300  2,390,400              93.9
24    30/04/1992   2,244,400  2,390,400              93.9
25     5/05/1992   2,237,950  2,390,400              93.6
26    10/05/1992   2,231,500  2,390,400              93.4
27    15/05/1992   2,225,900  2,390,400              93.1
28    20/05/1992   2,220,300  2,390,400              92.9
29    25/05/1992   2,216,850  2,390,400              92.7
30    31/05/1992   2,213,400  2,390,400              92.6
31     5/06/1992   2,207,100  2,390,400              92.3
32    10/06/1992   2,200,800  2,390,400              92.1
33    15/06/1992   2,192,650  2,390,400              91.7
34    20/06/1992   2,184,500  2,390,400              91.4
35    25/06/1992   2,191,400  2,390,400              91.7
36    30/06/1992   2,198,300  2,390,400              92.0
37     5/07/1992   2,196,900  2,390,400              91.9
38    10/07/1992   2,191,500  2,390,400              91.7
39    15/07/1992   2,183,200  2,390,400              91.3
40    20/07/1992   2,181,000  2,390,400              91.2
41    25/07/1992   2,175,900  2,390,400              91.0
42    31/07/1992   2,168,000  2,382,200              91.0
43     5/08/1992   2,159,200  2,382,200              90.6
44    10/08/1992   2,153,500  2,382,200              90.4
45    15/08/1992   2,153,100  2,382,200              90.4
46    20/08/1992   2,144,500  2,382,200              90.0
47    25/08/1992   2,138,000  2,382,200              89.7
48    31/08/1992   2,129,500  2,382,200              89.4
49     5/09/1992   2,126,000  2,382,200              89.2
50    10/09/1992   2,122,600  2,382,200              89.1
51    15/09/1992   2,118,100  2,382,200              88.9
52    20/09/1992   2,113,000  2,382,200              88.7
53    25/09/1992   2,107,400  2,382,200              88.5
54    30/09/1992   2,103,600  2,382,200              88.3
55     5/10/1992   2,096,300  2,382,200              88.0
56    10/10/1992   2,091,200  2,382,200              87.8
57    15/10/1992   2,084,300  2,382,200              87.5
58    20/10/1992   2,080,400  2,382,200              87.3
59    25/10/1992   2,079,500  2,382,200              87.3
60    31/10/1992   2,072,600  2,382,200              87.0
61     5/11/1992   2,075,100  2,382,200              87.1
62    10/11/1992   2,075,300  2,382,200              87.1
63    15/11/1992   2,068,600  2,382,200              86.8
64    20/11/1992   2,064,600  2,382,200              86.7
65    25/11/1992   2,063,200  2,382,200              86.6
66    30/11/1992   2,053,300  2,382,200              86.2
67     5/12/1992   2,054,500  2,382,200              86.2
68    10/12/1992   2,088,200  2,382,200              87.7
69    15/12/1992   2,091,100  2,382,200              87.8
70    20/12/1992   2,106,100  2,382,200              88.4
71    25/12/1992   2,139,000  2,382,200              89.8
72    31/12/1992   2,160,200  2,382,200              90.7
73     5/01/1993   2,160,000  2,382,200              90.7
74    10/01/1993   2,162,600  2,382,200              90.8
75    15/01/1993   2,155,700  2,382,200              90.5
76    20/01/1993   2,147,600  2,382,200              90.2
77    25/01/1993   2,146,200  2,382,200              90.1
78    31/01/1993   2,140,100  2,382,200              89.8
79     5/02/1993   2,128,500  2,382,200              89.4
80    10/02/1993   2,118,900  2,382,200              88.9
81    15/02/1993   2,118,300  2,382,200              88.9
82    20/02/1993   2,122,700  2,382,200              89.1
83    25/02/1993   2,113,400  2,382,200              88.7
84    28/02/1993   2,109,300  2,382,200              88.5
85     5/03/1993   2,097,500  2,382,200              88.0
86    10/03/1993   2,096,900  2,382,200              88.0
87    15/03/1993   2,094,900  2,382,200              87.9
88    20/03/1993   2,095,500  2,382,200              88.0
89    25/03/1993   2,093,400  2,382,200              87.9
90    31/03/1993   2,095,700  2,382,200              88.0
91     5/04/1993   2,091,000  2,382,200              87.8
92    10/04/1993   2,083,100  2,382,200              87.4
93    15/04/1993   2,074,800  2,382,200              87.1
94    20/04/1993   2,070,200  2,382,200              86.9
95    25/04/1993   2,061,800  2,382,200              86.6
96    30/04/1993   2,054,200  2,382,200              86.2
97     5/05/1993   2,047,100  2,382,200              85.9
98    10/05/1993   2,037,800  2,382,200              85.5
99    15/05/1993   2,030,300  2,382,200              85.2
100   20/05/1993   2,022,600  2,382,200              84.9
101   25/05/1993   2,014,300  2,382,200              84.6
102   31/05/1993   2,004,500  2,382,200              84.1
103    5/06/1993   1,999,400  2,382,200              83.9
104   10/06/1993   1,993,100  2,382,200              83.7
105   15/06/1993   1,985,800  2,382,200              83.4
106   20/06/1993   1,977,000  2,382,200              83.0
107   25/06/1993   1,970,500  2,382,200              82.7
108   30/06/1993   1,961,800  2,382,200              82.4
109    5/07/1993   1,955,700  2,382,200              82.1
110   10/07/1993   1,957,900  2,382,200              82.2
111   15/07/1993   1,955,400  2,382,200              82.1
112   20/07/1993   1,952,700  2,382,200              82.0
113   25/07/1993   1,944,600  2,382,200              81.6
114   31/07/1993   1,942,700  2,382,200              81.6
115    5/08/1993   1,940,600  2,382,200              81.5
116   10/08/1993   1,938,400  2,382,200              81.4
117   15/08/1993   1,931,600  2,382,200              81.1
118   20/08/1993   1,925,400  2,382,200              80.8
119   25/08/1993   1,918,600  2,382,200              80.5
120   31/08/1993   1,911,900  2,382,200              80.3
121    5/09/1993   1,909,700  2,382,200              80.2
122   10/09/1993   1,903,600  2,382,200              79.9
123   15/09/1993   1,937,300  2,382,200              81.3
124   20/09/1993   1,952,500  2,382,200              82.0
125   25/09/1993   1,946,300  2,382,200              81.7
126   30/09/1993   1,939,200  2,382,200              81.4
127    5/10/1993   1,938,000  2,382,200              81.4
128   10/10/1993   1,933,300  2,382,200              81.2
129   15/10/1993   1,929,500  2,382,200              81.0
130   20/10/1993   1,924,300  2,382,200              80.8
131   25/10/1993   1,919,900  2,382,200              80.6
132   31/10/1993   1,911,300  2,382,200              80.2
133    5/11/1993   1,904,400  2,382,200              79.9
134   10/11/1993   1,896,600  2,382,200              79.6
135   15/11/1993   1,886,600  2,382,200              79.2
136   20/11/1993   1,884,600  2,382,200              79.1
137   25/11/1993   1,883,400  2,382,200              79.1
138   30/11/1993   1,871,500  2,382,200              78.6
139    5/12/1993   1,867,600  2,382,200              78.4
140   10/12/1993   1,859,500  2,382,200              78.1
141   15/12/1993   1,853,300  2,382,200              77.8
142   20/12/1993   1,842,700  2,382,200              77.4
143   25/12/1993   1,832,200  2,382,200              76.9
144   31/12/1993   1,815,900  2,382,200              76.2
145    5/01/1994   1,801,300  2,382,200              75.6
146   10/01/1994   1,783,700  2,382,200              74.9
147   15/01/1994   1,771,600  2,382,200              74.4
148   20/01/1994   1,759,900  2,382,200              73.9
149   25/01/1994   1,750,200  2,382,200              73.5
150   31/01/1994   1,729,100  2,382,200              72.6
151    5/02/1994   1,718,900  2,382,200              72.2
152   10/02/1994   1,709,400  2,382,200              71.8
153   15/02/1994   1,718,300  2,382,200              72.1
154   20/02/1994   1,713,100  2,382,200              71.9
155   25/02/1994   1,706,600  2,382,200              71.6
156   28/02/1994   1,699,700  2,382,200              71.4
157    5/03/1994   1,690,900  2,382,200              71.0
158   10/03/1994   1,698,200  2,382,200              71.3
159   15/03/1994   1,697,100  2,382,200              71.2
160   20/03/1994   1,690,100  2,382,200              70.9
161   25/03/1994   1,683,300  2,382,200              70.7
162   31/03/1994   1,677,100  2,382,200              70.4
163    5/04/1994   1,671,100  2,382,200              70.1
164   10/04/1994   1,663,500  2,382,200              69.8
165   15/04/1994   1,683,500  2,382,200              70.7
166   20/04/1994   1,697,600  2,382,200              71.3
167   25/04/1994   1,694,600  2,382,200              71.1
168   30/04/1994   1,689,000  2,382,200              70.9
169    5/05/1994   1,683,000  2,382,200              70.6
170   10/05/1994   1,676,800  2,382,200              70.4
171   15/05/1994   1,671,300  2,382,200              70.2
172   20/05/1994   1,663,100  2,382,200              69.8
173   25/05/1994   1,654,100  2,382,200              69.4
174   31/05/1994   1,642,900  2,382,200              69.0
175    5/06/1994   1,635,700  2,382,200              68.7
176   10/06/1994   1,634,600  2,382,200              68.6
177   15/06/1994   1,630,100  2,382,200              68.4
178   20/06/1994   1,621,800  2,382,200              68.1
179   25/06/1994   1,613,800  2,382,200              67.7
180   30/06/1994   1,609,200  2,382,200              67.6
181    5/07/1994   1,604,000  2,382,200              67.3
182   10/07/1994   1,596,700  2,382,200              67.0
183   15/07/1994   1,593,200  2,382,200              66.9
184   20/07/1994   1,588,200  2,382,200              66.7
185   25/07/1994   1,582,000  2,382,200              66.4
186   31/07/1994   1,574,300  2,382,200              66.1
187    5/08/1994   1,568,300  2,382,200              65.8
188   10/08/1994   1,562,300  2,382,200              65.6
189   15/08/1994   1,554,700  2,382,200              65.3
190   20/08/1994   1,547,700  2,382,200              65.0
191   25/08/1994   1,542,800  2,382,200              64.8
192   31/08/1994   1,533,800  2,382,200              64.4
193    5/09/1994   1,525,700  2,382,200              64.0
194   10/09/1994   1,519,800  2,382,200              63.8
195   15/09/1994   1,512,100  2,382,200              63.5
196   20/09/1994   1,502,000  2,382,200              63.1
197   25/09/1994   1,490,800  2,382,200              62.6
198   30/09/1994   1,480,400  2,382,200              62.1
199    5/10/1994   1,471,800  2,382,200              61.8
200   10/10/1994   1,458,400  2,382,200              61.2
201   15/10/1994   1,448,300  2,382,200              60.8
202   20/10/1994   1,437,800  2,382,200              60.4
203   25/10/1994   1,431,700  2,382,200              60.1
204   31/10/1994   1,425,000  2,382,200              59.8
205    5/11/1994   1,418,100  2,382,200              59.5
206   10/11/1994   1,408,600  2,382,200              59.1
207   15/11/1994   1,399,700  2,382,200              58.8
208   20/11/1994   1,391,900  2,382,200              58.4
209   25/11/1994   1,383,100  2,382,200              58.1
210   30/11/1994   1,378,800  2,382,200              57.9
211    5/12/1994   1,370,600  2,382,200              57.5
212   10/12/1994   1,364,600  2,382,200              57.3
213   15/12/1994   1,355,700  2,382,200              56.9
214   20/12/1994   1,346,000  2,382,200              56.5
215   25/12/1994   1,337,800  2,382,200              56.2
216   31/12/1994   1,328,300  2,382,200              55.8
217    5/01/1995   1,326,000  2,382,200              55.7
218   10/01/1995   1,331,400  2,382,200              55.9
219   15/01/1995   1,326,700  2,382,200              55.7
220   20/01/1995   1,325,000  2,382,200              55.6
221   25/01/1995   1,399,300  2,382,200              58.7
222   31/01/1995   1,403,900  2,382,200              58.9
223    5/02/1995   1,400,000  2,382,200              58.8
224   10/02/1995   1,394,900  2,382,200              58.6
225   15/02/1995   1,390,200  2,382,200              58.4
226   20/02/1995   1,388,200  2,382,200              58.3
227   25/02/1995   1,382,500  2,382,200              58.0
228    1/03/1995   1,378,500  2,382,200              57.9
229    5/03/1995   1,396,200  2,382,200              58.6
230   10/03/1995   1,486,400  2,382,200              62.4
231   15/03/1995   1,493,600  2,382,200              62.7
232   20/03/1995   1,493,300  2,382,200              62.7
233   25/03/1995   1,488,000  2,382,200              62.5
234   31/03/1995   1,479,400  2,382,200              62.1
235    5/04/1995   1,471,000  2,382,200              61.7
236   10/04/1995   1,460,800  2,382,200              61.3
237   15/04/1995   1,453,400  2,382,200              61.0
238   20/04/1995   1,447,500  2,382,200              60.8
239   25/04/1995   1,440,600  2,382,200              60.5
240   30/04/1995   1,433,600  2,382,200              60.2
241    5/05/1995   1,429,400  2,382,200              60.0
242   10/05/1995   1,430,200  2,382,200              60.0
243   15/05/1995   1,433,300  2,382,200              60.2
244   20/05/1995   1,596,700  2,382,200              67.0
245   25/05/1995   1,613,100  2,382,200              67.7
246   31/05/1995   1,619,000  2,382,200              68.0
247    5/06/1995   1,619,200  2,382,200              68.0
248   10/06/1995   1,618,500  2,382,200              67.9
249   15/06/1995   1,618,500  2,382,200              67.9
250   20/06/1995   1,619,600  2,382,200              68.0
251   25/06/1995   1,618,400  2,382,200              67.9
252   30/06/1995   1,615,100  2,382,200              67.8
253    5/07/1995   1,610,200  2,382,200              67.6
254   10/07/1995   1,604,300  2,382,200              67.3
255   15/07/1995   1,603,600  2,382,200              67.3
256   20/07/1995   1,605,300  2,382,200              67.4
257   25/07/1995   1,608,200  2,382,200              67.5
258   31/07/1995   1,604,600  2,382,200              67.4
259    5/08/1995   1,602,600  2,382,200              67.3
260   10/08/1995   1,596,200  2,382,200              67.0
261   15/08/1995   1,591,200  2,382,200              66.8
262   20/08/1995   1,584,100  2,382,200              66.5
263   25/08/1995   1,577,100  2,382,200              66.2
264   31/08/1995   1,567,700  2,382,200              65.8
265    5/09/1995   1,563,900  2,382,200              65.6
266   10/09/1995   1,557,500  2,382,200              65.4
267   15/09/1995   1,549,700  2,382,200              65.1
268   20/09/1995   1,546,800  2,382,200              64.9
269   25/09/1995   1,561,800  2,382,200              65.6
270   30/09/1995   1,703,400  2,382,200              71.5
271    5/10/1995   1,715,400  2,382,200              72.0
272   10/10/1995   1,722,500  2,382,200              72.3
273   15/10/1995   1,717,900  2,382,200              72.1
274   20/10/1995   1,712,200  2,382,200              71.9
275   25/10/1995   1,711,500  2,382,200              71.8
276   31/10/1995   1,706,000  2,382,200              71.6
277    5/11/1995   1,702,000  2,382,200              71.4
278   10/11/1995   1,696,600  2,382,200              71.2
279   15/11/1995   1,689,500  2,382,200              70.9
280   20/11/1995   1,685,400  2,382,200              70.7
281   25/11/1995   1,700,400  2,382,200              71.4
282   30/11/1995   1,701,500  2,382,200              71.4
283    5/12/1995   1,707,500  2,382,200              71.7
284   10/12/1995   1,732,900  2,382,200              72.7
285   15/12/1995   1,739,000  2,382,200              73.0
286   20/12/1995   1,737,000  2,382,200              72.9
287   25/12/1995   1,729,200  2,382,200              72.6
288   31/12/1995   1,725,900  2,382,200              72.4
289    5/01/1996   1,730,700  2,382,200              72.7
290   10/01/1996   1,741,000  2,382,200              73.1
291   15/01/1996   1,740,900  2,382,200              73.1
292   20/01/1996   1,739,500  2,382,200              73.0
293   25/01/1996   1,744,000  2,382,200              73.2
294   31/01/1996   1,742,500  2,382,200              73.1
295    5/02/1996   1,735,000  2,382,200              72.8
296   10/02/1996   1,726,300  2,382,200              72.5
297   15/02/1996   1,716,100  2,382,200              72.0
298   20/02/1996   1,707,800  2,382,200              71.7
299   25/02/1996   1,703,000  2,382,200              71.5
300   29/02/1996   1,699,500  2,382,200              71.3
301    5/03/1996   1,695,400  2,382,200              71.2
302   10/03/1996   1,691,400  2,382,200              71.0
303   15/03/1996   1,688,200  2,382,200              70.9
304   20/03/1996   1,679,000  2,382,200              70.5
305   25/03/1996   1,670,000  2,382,200              70.1
306   31/03/1996   1,658,500  2,382,200              69.6
307    5/04/1996   1,649,200  2,382,200              69.2
308   10/04/1996   1,639,400  2,382,200              68.8
309   15/04/1996   1,634,100  2,382,200              68.6
310   20/04/1996   1,626,500  2,382,200              68.3
311   25/04/1996   1,617,500  2,382,200              67.9
312   30/04/1996   1,608,500  2,382,200              67.5
313    5/05/1996   1,638,100  2,382,200              68.8
314   10/05/1996   1,724,000  2,382,200              72.4
315   15/05/1996   1,729,500  2,382,200              72.6
316   20/05/1996   1,729,100  2,382,200              72.6
317   25/05/1996   1,725,200  2,382,200              72.4
318   31/05/1996   1,720,400  2,382,200              72.2
319    5/06/1996   1,715,700  2,382,200              72.0
320   10/06/1996   1,710,000  2,382,200              71.8
321   15/06/1996   1,705,800  2,382,200              71.6
322   20/06/1996   1,706,400  2,382,200              71.6
323   25/06/1996   1,705,500  2,382,200              71.6
324   30/06/1996   1,702,000  2,382,200              71.4
325    5/07/1996   1,697,800  2,382,200              71.3
326   10/07/1996   1,695,000  2,382,200              71.2
327   15/07/1996   1,690,000  2,382,200              70.9
328   20/07/1996   1,684,500  2,382,200              70.7
329   25/07/1996   1,679,500  2,382,200              70.5
330   31/07/1996   1,688,000  2,382,200              70.9
331    5/08/1996   1,689,500  2,382,200              70.9
332   10/08/1996   1,687,500  2,382,200              70.8
333   15/08/1996   1,683,000  2,382,200              70.6
334   20/08/1996   1,679,000  2,382,200              70.5
335   25/08/1996   1,674,000  2,382,200              70.3
336   31/08/1996   1,694,000  2,382,200              71.1
337    5/09/1996   1,808,000  2,382,200              75.9
338   10/09/1996   1,817,500  2,382,200              76.3
339   15/09/1996   1,818,500  2,382,200              76.3
340   20/09/1996   1,819,000  2,382,200              76.4
341   25/09/1996   1,817,000  2,382,200              76.3
342   30/09/1996   1,817,500  2,382,200              76.3

            Date Total_Water    Storage  Percentage_Fulll
0     31/12/1991   2,188,900  2,390,400              91.6
1      5/01/1992   2,190,350  2,390,400              91.6
2     10/01/1992   2,191,800  2,390,400              91.7
3     15/01/1992   2,196,000  2,390,400              91.9
4     20/01/1992   2,200,200  2,390,400              92.0
...          ...         ...        ...               ...
2337   6/05/2021   2,473,184  2,581,850              95.8
2338   7/05/2021   2,502,289  2,581,850              96.9
2339   8/05/2021   2,543,509  2,581,850              98.5
2340   9/05/2021   2,559,009  2,581,850              99.1
2341  10/05/2021   2,559,226  2,581,850              99.1

[2342 rows x 4 columns]